/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	/*-fx-background-color: rgb(225,135,113);*/
	-fx-background-color: rgb(113,156,236);
} 
 
#menuEsquerdo{
	-fx-background-color: rgb(113,156,236);
}
 
.scroll-pane{
	-fx-fit-to-width: true;
}
 
.vbox{
	-fx-alignment: center ;
	-fx-spacing: 10px;
	-fx-background-color: rgb(113,156,236);
	-fx-padding: 10px;
	-fx-border-style: solid inside;
	-fx-border-width: 2px;
	
	-fx-border-color: blue;
} 
 
.hbox{
	-fx-alignment: center ;
	-fx-spacing: 10px;
	-fx-background-color: rgb(113,156,236);
	-fx-padding: 10px;
	-fx-border-style: solid inside;
	-fx-border-width: 2px;
	
	-fx-border-color: blue;
	
} 

#pilhaMenus{
	-fx-border-width: 0px;
	-fx-border-insets: 0px;
}
 
#menuSuperior{ /*HBox */ 
	-fx-background-color: rgb(28,89,202); 
}

#vbox-left{
	-fx-background-color: rgb(255,53,58);	
}

#menuSuperior .button {
	
}


.button{	
	-fx-font-weight: bold;	
	/*-fx-background-color: rgb(244,176,176);*/
	-fx-background-color: rgb(123,203,251);
	-fx-background-insets: 1.0px ;
	-fx-background-radius: 5.0px;	
}

.button:hover{
	-fx-text-fill: white;
	/*-fx-background-color: linear-gradient(rgb(240,0,0), rgb(170,29,2) );*/
	/*-fx-background-color: rgb(18,33,133);*/
	-fx-background-color: linear-gradient(rgb(28,50,253), rgb(18,33,133) );
	
} 

.toggle-button{
	-fx-background-insets: 1.0px ;
	-fx-background-radius: 5.0px;
}

#toggle-conectado{
	-fx-background-color: chartreuse;
}

#toggle-desconectado{
	-fx-background-color: red;
}