/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.root{
	/*-fx-background-color: rgb(135,204,241);*/
	/*-fx-background-color: transparent ;*/
	-fx-background-color: linear-gradient(rgb(3,122,116), rgb(4,136,80) ); 	

}

#gridpane{
	/*-fx-background-color: linear-gradient(rgb(240.0,0.0,0.0), rgb(170.0,29.0,2.0) );*/
	/*-fx-background-color: rgb(22,22,245);*/
	-fx-background-color: linear-gradient(rgb(22,22,245), rgb(15,17,200) );	
	-fx-background-radius: 30px;
	-fx-background-insets: -20px;
	-fx-padding: 10px;
}

#lbTitulo {
	-fx-font-size:40.0px;
	-fx-text-fill: #D30708;
	-fx-font-weight: bold;	 
	-fx-effect: innershadow( three-pass-box , rgba(0.0,0.0,0.0,0.7) , 6.0, 0.0 , 0.0 , 2.0 );	
}

#lbErro{
	-fx-font-size:20.0px;
	/*-fx-text-fill: rgb(208.0,2.0,7.0);*/
	-fx-text-fill: rgb(245,30,30);	
	-fx-background-color: rgb(248,248,255);
	-fx-font-weight: bold;	 	
}

.label{
	-fx-font-weight: bold;	
	-fx-font-size: 14px;
	/*-fx-text-fill: rgb(80.0,80.0,80.0);*/
	/*-fx-text-fill: rgb(16,3,175);*/
	-fx-text-fill: whitesmoke ;
		 
}

.button{	
	-fx-cursor: hand;	
	-fx-font-weight: bold;	
	-fx-background-color: rgb(123,203,251);	
	-fx-background-radius: 10.0px;
}

#btEntrar:hover{	
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(rgb(33.0,200.0,0.0), rgb(23.0,130.0,0.0));
}

#btSair:hover{	
	-fx-text-fill: white;
	-fx-background-color: linear-gradient(rgb(240.0,0.0,0.0), rgb(170.0,29.0,2.0) );
}

.text-field {
	-fx-text-fill: rgb(80.0,80.0,80.0);
	-fx-font-weight: bold;
}

.text-field:focused {
    -fx-prompt-text-fill: rgb(150.0,150.0,150.0);
}